body {
	margin: 0;
	padding: 0;
	height: 100vh;
}
.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.video {
	margin: 30px;
	width: 100%;
	height: 500px;
}
.controls {
	display: flex;
	column-gap: 20px;
	background-color: #eee;
}
button {
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	transition: 0.2s;
}
button:active {
	transform: scale(0.95);
}
.controls__play-pause {
	background-color: #14d114;
}
.controls__stop {
	background-color: #c11515;
}
.controls__mute {
	background-color: #ddd;
}
.controls__minus {
	background-color: #bac913;
}
.controls__plus {
	background-color: #356bce;
}

progress {
	height: 100px;
}

