body {
	margin: 0;
	padding: 0;
	height: 100vh;
}
.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.video {
	margin: 30px;
	width: 100%;
	height: 500px;
}
.controls {
	display: flex;
	column-gap: 20px;
	background-color: #38b668;
	padding: 20px;
	border-radius: 10px;
}
button {
	padding: 0.2rem 1rem;
	font-size: 1.1rem;
	transition: 0.2s;
	border-radius: 10px;
	background-color: #000;
	color: #646464;
	border: 1px solid #fff;
}
button:active {
	transform: scale(0.95);
}

progress {
	height: 50px;
}

